@import "uikit/src/less/uikit.theme.less";

.menu-icon {
  max-height: 1em;
  color: #2f2f2f;
}

.float-menu {
  position: absolute;
  /* This is to accommodate longer hints */
  width: 12em;
  height: 4em;
  /* Ensure hint is in the middle */
  text-align: center;
  /* Ensures the zoom is properly applied when needed */
  transform-origin: 0 0;
  /* We don't animate other stuff because that needs to be in sync with the graph */
  transition: opacity 0.3s;
  pointer-events: none;

  .float-button {
    width: 2em;
    height: 2em;
    border-radius: 24px;
    transition: 0.3s;
  }

  .float-button:hover {
    background-color: #CFD8DC;
  }

  .button-row {
    width: 6em;
    height: 2em;
    margin: 0 auto;
    border-radius: 24px;
    background-color: #ECEFF1;
    pointer-events: all;
  }

  .hint {
    font-weight: bold;
    transition: opacity 0.3s;
    pointer-events: none;
    text-shadow: 0 2px 5px #d0d0d0;
  }
}
