@import '/src/uikit-theme';

#cytoscape-editor {
  height: 100%;
  width: 100%;
}

.header {
  padding: 0.5em 1em;
  position: sticky;
  top: 0;
  z-index: 99;
}

@heading-bullet-border: @text-dark;
.header h3 {
  color: @text-dark;
}
