@import '/src/uikit-theme';

.svg-inline--fa {
  min-height: 1em;
  height: 1em;
  min-width: 1.1em;
}

.tab {
  flex: auto;
  padding: 0.5em;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tab-name {
  margin: 0 0.3em;
  min-width: 0;
  width: 100%;
}

.tab-bar {
  width: 100%;
}

.active {
  .uk-button-primary;
}

@media only screen and (max-width: 30em) {
  .tab-name {
    display: none;
  }
  .tab {
    padding: 1em;
  }
}

@media (prefers-color-scheme: dark) {
  .inactive {
    background: @button-dark;
  }
}

@media (prefers-color-scheme: light) {
  .inactive {
    background: @button-light;
  }
}
