@import '/src/uikit-theme';

.menu-button {
  .uk-button;
  .uk-button-secondary;
  .uk-button-small;
  .uk-margin-small-left;
  cursor: pointer;
}

.menu-content {
  flex-direction: column;
  position: absolute;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 100;
}

.menu-item {
  padding: 0.1em 1em;
  cursor: pointer;
}

.menu-item:hover {
    background: @secondary-color;
}

.menu-content {
  background-color: @background-light;
}

.menu-item > a {
  color: @text-light;
}

.menu-button {
  background: @button-light;
  color: @text-light;
}

@media (prefers-color-scheme: dark) {
  .menu-button {
    background: @button-dark;
    color: @text-dark;
  }
  .menu-content {
    background-color: @background-dark;
  }

  .menu-item > a {
    color: @text-dark;
  }
}
