@import '/src/uikit-theme';

.root-component {
  height: 100%;
  display: contents;
  overflow: hidden;

}

.header {
  height: 3em;
}

.content {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 3em;
  bottom: 0;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .inactive {
    display: none;
  }
  .active {
    width: 100vw;
  }
}