@import '/src/uikit-theme';

.regulation-property:hover {
  font-weight: bold;
}

.regulation-property {
  cursor: pointer;
  user-select: none;
}

.svg-inline--fa {
  height: 1em;
}

#function-editor {
  width: 99%;
}

.remove-reg {
  height: inherit;
  width: 3em;
  align-self: start;
}

.functions-body {
  flex-direction: column;
}

.container {
  padding: 0 0.5em;
}

.monotonicity-inhibition {
  color: @monotonicity-inhibition;
}

.monotonicity-activation {
  color: @monotonicity-activation;
}

.monotonicity-dual {
  color: @monotonicity-dual;
}

.monotonicity-unspecified {
  color: @monotonicity-unspecified;
}

@media (prefers-color-scheme: dark) {
  .regulation:hover {
    background: rgba(0, 0, 0, 0.37);
  }
  .uk-button {
    background: rgb(34, 34, 34);
  }
}

@media (prefers-color-scheme: light) {
  .regulation:hover {
    background: rgba(0, 0, 0, 0.05);
  }
  .uk-button {
    background: rgb(222, 222, 222);
  }
}
