<template id="nav-bar">
  <link rel="stylesheet" href="component/nav-bar/nav-bar.less">
  <div class="nav-bar uk-container uk-container-expand uk-margin-remove uk-padding-remove-horizontal uk-flex-nowrap">
    <nav class="uk-navbar-container uk-navbar-transparent uk-flex-nowrap">
      <div class="uk-navbar uk-margin-small-top uk-flex-nowrap">
        <div class="uk-navbar-left uk-flex-nowrap">
          <hamburger-menu></hamburger-menu>
          <tab-bar></tab-bar>
        </div>

        <div class="uk-navbar-right uk-flex-nowrap">
          <undo-redo></undo-redo>
          <search-bar></search-bar>
        </div>

      </div>
    </nav>
  </div>
</template>

<script src="component/nav-bar/nav-bar.ts"></script>


<include src="./component/menu/menu.html"></include>
<include src="./component/tab-bar/tab-bar.html"></include>

<include src="./component/undo-redo/undo-redo.html"></include>
<include src="./component/search/search.html"></include>