@import '/src/uikit-theme';

.container {
  container-name: inference;
  container-type: inline-size;
  height: 100%;
  width: 100%;
}

.inference {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
  overflow: auto;
}

.section {
  min-width: 25em;
  max-width: 40em;
  overflow: auto;
  width: 50%;
}

/*
  Header sticks to the top of the list.
*/

.header {
  .uk-flex;
  .uk-flex-row;
  .uk-flex-between;
  .uk-flex-middle;
  .uk-box-shadow-small;
  padding: 0.5em 1em;
  position: sticky;
  top: 0;
  z-index: 99;
}

@heading-bullet-border: @text-dark;
.header h3 {
  color: @text-dark;
}

@container inference (max-width: 52em) {

  .section {
    width: 100%;
    overflow: unset;
  }

}
