@import '/src/uikit-theme';

.property-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-height: inherit;
  align-content: start;
  align-items: stretch;
  height: 100%;
  overflow: auto;
  container-name: property-list;
  container-type: inline-size;
}

.section {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 25em;
  padding: 0.5em;
}

.header {
  .uk-flex;
  .uk-flex-row;
  .uk-flex-center;
  .uk-flex-middle;
  .uk-flex-between;
  .uk-margin-small-bottom;
}

.add-dynamic-property {
  .uk-button;
  .uk-button-small;
  .uk-button-primary;
  right: -1em;
  padding: 0 1em;
  cursor: pointer;
}

.heading {
  .uk-text-center;
  margin: 0;
}

.menu-content {
  flex-direction: column;
  position: absolute;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 100;
}

.menu-item {
  padding: 0.1em 1em;
  cursor: pointer;
}

.menu-item:hover {
  background: @primary-color;
}

@media (prefers-color-scheme: dark) {
  .heading {
    color: white;
  }
  .uk-button-secondary {
    background: @button-dark;
  }
  .section + .section {
    border-left: 1px solid white;
  }

  .menu-content {
    background-color: @background-dark;
  }

  .menu-item > a {
    color: @text-dark;
  }
}

@media (prefers-color-scheme: light) {
  .uk-button-secondary {
    background: @button-light;
  }

  .section + .section {
    border-left: 1px solid black;
  }

  .menu-content {
    background-color: @background-light;
  }

  .menu-item > a {
    color: @text-light;
  }
}

@container property-list (max-width: 52em) {
  .section + .section {
    border-left: none;
  }
}
