@import '/src/uikit-theme';

/* The height of the header based on the known theme settings. */
@header-height: @button-line-height + (2 * @button-border-width);

.root-component {
  height: 100%;
  display: contents;
  overflow: hidden;
}

.header {
  height: @header-height;
  .uk-flex;
  .uk-flex-row;
  .uk-flex-between;
  .uk-flex-middle;
  .uk-box-shadow-small;
  padding: 0.5em 1em;
  position: sticky;
  top: 0;
  z-index: 99;
}

@heading-bullet-border: @text-dark;
.header h3 {
  color: @text-dark;
}

@media only screen and (max-width: 800px) {
  .inactive {
    display: none;
  }
  .active {
    width: 100vw;
  }
}
