@import '/src/uikit-theme';

.function-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-height: inherit;
  align-content: start;
  align-items: stretch;
  height: 100%;
  overflow: auto;
  container-name: function-list;
  container-type: inline-size;
}

.section {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 25em;
  padding: 0.5em;
}

.header {
  .uk-flex;
  .uk-flex-row;
  .uk-flex-between;
  .uk-flex-middle;
}

.heading {
  .uk-margin-remove-top;
}

@media (prefers-color-scheme: dark) {
  .heading {
    color: white;
  }
  .uk-button-secondary {
    background: @button-dark;
  }
  .section + .section {
    border-left: 1px solid white;
  }
}

@media (prefers-color-scheme: light) {
  .uk-button-secondary {
    background: @button-light;
  }

  .section + .section {
    border-left: 1px solid black;
  }
}

@container function-list (max-width: 52em) {
  .section + .section {
    border-left: none;
  }
}
