@import '/src/uikit-theme';

.svg-inline--fa {
  height: 1em;
}

.property-body {
  .uk-flex;
  .uk-flex-column;
  gap: 0.5em;
}

.remove-property {
  .uk-button;
  .uk-button-small;
  .uk-button-secondary;
}

.name-field {
  .uk-input;
  .uk-text-center;
}

.static-name-field {
  .uk-form-blank;
  .uk-h4;
  margin: 0;
}

.uk-button {
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  .uk-button-secondary {
    background: @button-dark
  }

  .static-name-field {
    color: @text-dark;
  }
}

@media (prefers-color-scheme: light) {
  .uk-button-secondary {
    background: @button-light;
  }

  .static-name-field {
    color: @text-light;
  }
}
